.grid-container {
    display: grid;
    grid-template-areas: 
        "box1 box1"
        "box2 box3"
        "box4 box4" 
        "box5 box5"
    ;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    /* grid-auto-rows: 50px 25px; */
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}
.box5 {
    grid-area: box5;
}
